# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# State files
# last_notified.json (Removed from ignore to allow GitHub Actions to track state)

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
AppData/
OneDrive/
